
<!--banner 图片轮播部分-->
<section class="index-banner-wrap" id="bannerWrap"></section>



<!--搜索框部分-->
<%= search %>


<!-- 重要通知 -->
<%= notice %>


<!-- 我的关注、订单管理 -->
<%= concernAndOrder %>


<!-- 今日主推 -->
<%= recommendToday %>


<!-- 热门推荐 -->
<%= recommendHot %>